#pie{
	text-align: center;
	background-color: #765555;

}
#logos {
	margin-top: 10px;
	background-color: #765555;

}
#logo{
	margin-top: 3px;
	padding: 4px;
}

#empresa{
	float: right;
	text-align: center;
	color: white;
}
.container{
	
	background-color: lightgray;
}

